picture {
    max-width: max-content;
}

#navbar {
    width: 100%;
}

#nav, #nav ul {
    padding: 0;
    margin: 0;
}

#nav a {
    display: block;
    width: 130px;
    margin: auto;
    text-align:right;
    font-weight: bolder;
    font-size: 26px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

#nav li{
    float: left;
    width: 200px;

}
#nav li ul {
    position: absolute;
    width: 130px;
    left: -999em;
}

#nav li:hover {
    left: auto;
    background:#ffc93c
}

#nav li  li:hover {
    background: #ddd2b4;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
    margin: 20px;
    align-content: center;
    border-top-width: 10px;
}

header{
    background: black;
    line-height: 60px;
}

body {
    background-color: #ffc93c;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: black;
    line-height: 100px;
    }

p {
    text-align: center;
    font-size: 30px;
} 

h1 {
   text-align: center;
   text-decoration: underline;
   font-size: 36px;
}

img {
    max-width: 750px;
}

